@charset "UTF-8";

*{
	margin: 0 auto;
	padding: 0;
}

table{
	margin: 0 auto;
}

table,th,td{
	border: 1px solid #123;
	text-align: center;
}

a{
	color: #fff;
	text-decoration: none;
}

body{
	width: 1000px;
	height: 600px;
}

header{
	width: 100%;
	height: 100px;
	background-color: blue;
	text-align: center;
	align-content: center;
}

h1{
	color: #fff;
}

nav{
	width: 100%;
	height: 50px;
	background-color: #008;
	text-align: start;
	align-content: center;
}
section{
	width: 100%;
	height: 500px;
}
h2{
	width: 100%;
	height: 100px;
	text-align: center;
	align-content: center;
}
footer{
	width: 100%;
	height: 50px;
	background-color: blue;
	text-align: center;
	align-content: center;
}
h3{
	font-size: 24px;
	color: #fff;
}